<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="width: 100%;">
        <tr style="width: 100%;">
            <td style="width: 100%; text-align: left;">
                <img src="http://localhost:8080/api/logo/logo.png" style="height: 70px; object-fit:contain" alt="">
            </td>
        </tr>
        <tr style="width: 100%; text-align: left;">
            <td> <br/>Email: info@acegiftingsolutions.com</td>
        </tr>
        <tr style="width: 100%; text-align: left;">
            <td>Phone: +91 81510 56671</td>
        </tr>
    </table>
    <br /><br />
    Dear <%= data.name %><br /><br />
    Thank you visiting Ace Gifting Solutions.<br /><br />
    Here is your catalogue:<br /><br />
    <table border="1" style="border-collapse: collapse;width:100%;">
    <thead>
    <tr>
    <th style="border:1px solid #000;text-align: center;">Product</th>
    <th style="border:1px solid #000;text-align: center;">Name</th>
    <th style="border:1px solid #000;text-align: center;">Price</th>
    </tr>
    </thead>
    <tbody>
        <% if (data.orderRequestProducts.length > 0) { %>
            <% data.orderRequestProducts.forEach(item => {%>
               <tr>
                <td style="border:1px solid #000;text-align: center;">
                    <img src="http://localhost:8080/api/products/<%= item.product.image %>" style="height: 50px;object-fit: contain;" alt="">
                </td>
                <td style="border:1px solid #000;text-align: center;"><%= item.product.name %></td>
                <td style="border:1px solid #000;text-align: center;"><%= item.product.price %></td>
            </tr>
            <%  });%>
        <% }%>
    </tbody>
    </table>
    <br /><br />
</body>
</html>
